{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">

<h1 class="new-h1">새 글 작성하기</h1>
<form action="{% url 'create' %}" method="POST">
  {% csrf_token %}
  <div class="new-div">
    <p>제목: <input type="text" name="title" /></p>
    <p><textarea name="contents" id="" cols="30" rows="10"></textarea></p>
  </div>

  <input type="submit" value="작성하기" />
</form>